<p>
  {{pageTitle}}
</p>
<div class="container">
  <div  class="row">
    <div *ngFor='let team of teams; let i=index' class="col-md-5" >
        <div class="firstGroup" *ngIf="i<8">
          {{team.teamName}} <img [src]="team.imageUrl">
          <div><input
            (keypress)="protect($event)"
             type="number" min="0"> </div>
        </div>
    </div>
    <div class="col-md-2">
      <img src="/assets/World-cup.jpeg">
    </div>
    <div *ngFor='let team of teams; let i=index' class="col-md-5" >
      <div class="sencondGroup" *ngIf="i>=8">
        {{team.teamName}} <img [src]="team.imageUrl">
        <div><input 
          (keypress)="protect($event)"
          type="number" min="0"> </div>
      </div>
    </div>
  </div>